@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* -------shared style--------- */
.margin-auto {
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.bg-nevy-bleu {
    background-color: #1a0b2e;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    padding: 12.5px 20px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(to top right, #f7e93f, #FB09B4, #9100F8);
    color: white;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.text-white {
    color: #ffffff;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

/* ---------navbar style--------- */
.navbar {
    max-width: 1200px;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;

}

.logo>img {
    width: 100%;
    display: block;
}

.menue-bar {
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.menue-list {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;

}

.menue-list>a {
    text-decoration: none;

}

.hambarger-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;

}


/* --------banner related style------------ */
.banner {
    padding: 100px 0;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid #412567;

}

.banner-img-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url(../assets/hero-circle.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;

}

.banner-img-container>img {
    width: 30%;
}

.banner-img-container>div {
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px #00ff8880;
    border-radius: 1000px;
    position: absolute;
    top: 5%;
    right: 6%;
}

.banner-content {
    text-align: center;
    margin-top: 40px
}

.banner-title {
    font-size: 3.75rem;
    font-weight: 800;
}

.banner-info,
.about-podcast-second-info,
.about-podcast-first-info,
.statics-card>p {
    opacity: 0.8;
}

.banner-info {
    margin-top: 8px;

}

.btn-banner-container {
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#btn-banner-2 {
    background: none;
    border: 1px solid #00FF88;
    color: #00FF88;

}

/* ----------main area style--------- */
/* -------------about podcast related style------------ */
.about-podcast-section {
    padding: 50px 0px 120px;
}

.about-podcast-container {
    max-width: 1200px;
    text-align: center;
}

.about-podcast-first-info {
    margin-top: 16px;

}

.about-podcast-second-info {
    margin-top: 35px;

}

hr {
    margin: 80px 0px;
    border: 1px solid #ffffff;
    opacity: 0.1;
}

.statics-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.statics-card>h4 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}

#rating-star {
    font-size: 2.5rem;
}

.statics-card>p {
    margin-top: 16px;
    text-transform: uppercase;
}

/* ----------why-choose section related style-------------- */
.why-choose {
    padding: 120px 0px;
    background-color: #230e3d;
}

.why-choose-container {
    max-width: 1200px;
}

#premium-quality {
    grid-area: pre;
    align-items: center;
}

#mobile-friendly {
    grid-area: mob;
}

#global-community {
    grid-area: glo;
}

#interview {
    grid-area: int;
}

#resource {
    grid-area: res;
}

.why-choose-card-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-template-areas:
        'pre    mob    mob'
        'pre    glo    glo'
        'int    int    res'
    ;
}

.why-choose-card {
    padding: 40px 40px;
    background-color: #35116566;
    border-radius: 40px;
}

.why-choose-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;
}

.why-choose-card-info,
.host-info {
    margin-top: 16px;
    opacity: 0.6;
}

/* ---------featured episodes related style------------ */
.featured {
    padding: 120px 0px;
    background-color: #1a0b2e;
}

.featured-container {
    max-width: 1200px;
}

.featured-card-container {
    margin-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.featured-card {
    background-color: #250d44;
    border-radius: 24px;
    overflow: hidden;
}

.iframe-container>iframe {
    width: 100%;
}

.featured-card-content {
    padding: 24px;
}

.featured-card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.featured-card-info {
    margin-top: 12px;
    opacity: 0.6;
}

.featured-episode-duration {
    margin-top: 12px;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.featured-episode-duration>p {
    color: #00FF88;
}

/* ---------meet host section related style--------- */
.meet-host {
    padding: 0px 0px 120px;
    background-color: #1a0b2e;
}

.meet-host-container {
    max-width: 1200px;
}

.host-card {
    margin-top: 40px;
    align-items: center;
    gap: 24px;
    padding: 40px;
    background-color: #35116566;
    border-radius: 40px;
}

.host-img-container{
    width: 45%;
}

.host-img-container>img {
    width: 100%;
}

.meet-host-content {}

.host-name {
    font-size: 2rem;
    font-weight: 700;
}

.host-social-acount-container{
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.host-social-acount-container>div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #533c72;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* --------mobile devices responsive---------- */
@media screen and (max-width: 576px) {
    .navbar {
        padding: 16px 20px;
    }

    #btn-nav,
    .menue-bar {
        display: none;
    }

    .hambarger-icon {
        display: inline;
    }

    .logo {
        max-width: 137px;
    }

    /* ---------banner responsive--------- */
    .banner {
        padding: 40px 20px;
    }

    .banner-img-container {
        width: 200px;
        height: 200px;
    }

    .banner-img-container>div {
        font-size: 1rem;
        right: -5%;
    }

    .banner-content {
        margin-top: 24px;
    }

    .banner-title,
    .statics-card>h4 {
        font-size: 2.5rem;
    }

    /* --------about-podcast responsive---------- */
    br {
        display: none;
    }


    .about-podcast-section,
    .why-choose {
        padding: 40px 20px;
    }

    .section-title {
        font-size: 2rem;
    }

    .about-podcast-second-info,
    .why-choose-card-container {
        margin-top: 16px;
    }

    hr {
        margin: 40px 0px;
    }

    .statics-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* -------why choose responsive----------- */
    .why-choose-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        grid-template-areas:
            'pre'
            'mob'
            'glo'
            'int'
            'res'
        ;
    }

    .why-choose-card {
        padding: 24px 24px;
        border-radius: 24px;
    }

    .why-choose-card-title {
        font-size: 1.375rem;
    }

    /* ---------Featured episode responsive---------- */
    .featured {

        padding: 40px 20px 60px;
        background-color: #1a0b2e;
    }

    .featured-card-container {
        margin-top: 24px;
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    .iframe-container>iframe {
        height: 225px;
    }

    .featured-card-content {
        padding: 16px;
    }

    .featured-card-title {
        font-size: 1.25rem;
    }

    .featured-card-info {
        margin-top: 8px;
    }


}